
<div class="header clearfix">
  <h1><%= link_to 'Green Flag', admin_features_path %></h1>
</div>

<div class="row">
  <% @features.each do |feature| %>
    <div class="col-md-6">
      <div class="well">
        <h4>
          <%= link_to feature.code, admin_feature_path(feature) %>
          <% if feature.fully_enabled? %><span class="label label-success">100%</span><% end %>
          <% if feature.fully_disabled? %><span class="label label-danger">0%</span><% end %>
        </h4>
        
        <div class="help-block">
          <div>Created at <strong><%= feature.created_at.strftime("%d %b %Y") %></strong></div>
          <div>Enabled for <strong><%= feature.enabled_count %> people</strong></div>
          <div>Disabled for <strong><%= feature.disabled_count %> people</strong></div>
        </div>

        <p><%= feature.description %></p>
      </div>
    </div>
  <% end %>

</div>