<%= stylesheet_link_tag '//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css' %>
<%= stylesheet_link_tag 'green_flag/admin/features' %>

<h1 class="page-title"><%= link_to 'Feature Flags', admin_features_path %></h1>

<table>
  <tbody>
    <% @features.each do |feature| %>
      <tr>
        <th><%= link_to feature.code, admin_feature_path(feature) %></th>
        <td><%= feature.description %></td>
      </tr>
    <% end %>
  </tbody>
</table>