<!DOCTYPE html>
<html>
<head>
  <title>GreenFlag</title>
  <%= stylesheet_link_tag "green_flag/application", :media => "all" %>
  <%= stylesheet_link_tag '//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css' %>
  <%= stylesheet_link_tag 'green_flag/admin/features' %>

  <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>  
  <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.1/underscore-min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>  
  <script src="https://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.0.0/backbone.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/backbone.marionette/1.0.4/backbone.marionette.min.js"></script>

  <%= javascript_include_tag "green_flag/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
