<!DOCTYPE html>
<html>
<head>
  <title>GreenFlag</title>
  <%= stylesheet_link_tag "green_flag/application", :media => "all" %>
  <%= stylesheet_link_tag '//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css' %>
  <%= stylesheet_link_tag 'green_flag/admin/features' %>

  <%= javascript_include_tag "green_flag/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
